html, body {
    min-height: 100%;
    }
    body, div, form, input, select, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #eee;
    }
    body {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOXTHVb0gmM2KPy1xceq_1wQDRHO2HzpMxJBR1P7ozw6SgefD1&s") no-repeat center;
    background-size: cover;
    }
    h1, h2 {
    text-transform: uppercase;
    font-weight: 400;
    }
    h2 {
    margin: 0 0 0 8px;
    }
    .main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
    background: rgba(0, 0, 0, 0.5); 
    }
    .left-part, form {
    padding: 230px;
    }
    .left-part {
    text-align: center;
    }
    .fa-graduation-cap {
    font-size: 72px;
    }
    form {
    background: rgba(0, 0, 0, 0.7); 
    }
    .info {
    display: flex;
    flex-direction: column;
    }
    input, select {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    }
    input::placeholder {
    color: #eee;
    }
    option:focus {
    border: none;
    }
    .btn-item, button {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px; 
    border: none;
    background: #26a9e0; 
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    }
    .btn-item {
    display: inline-block;
    margin: 30px 5px;
    }
    button {
    width: 100%;
    }
    button:hover, .btn-item:hover {
        background: #85d6de;
    }
    
    @media (min-width: 578px) {
    html, body {
    height: 100%;
    width: 100%;
    }
    .main-block {
    height:40em; background-size:cover; width:auto;
    background-image:url('http://starkovtattoo.spb.ru/images/100/DSC100162898.jpg') ;
    background-position:-60px 70px;
    flex-direction: row;
    height: calc(100% - 50px);
    }
}