<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>        
<div class="main-block">
  <div class="left-part">
    <i class="fas fa-graduation-cap"></i>
    <h1>sign in </h1>
    <div class="info">
 
      <input type="text" name="name" placeholder="User Name">        
      <input type="password" name="name" placeholder="Password">        
      
    </div>

    <a class="btn-item" href="http://localhost:4200/home">Log-in</a>
    <a class="btn-item" href="http://localhost:4200/login">Reset</a>
</div>
