<div class="main-block">
        <div class="left-part">
          
        </div>
        

        <form> 
                <div class="title">
                  <i class="fas fa-pencil-alt"></i> 
                  <h2>Book here</h2>
                </div>

                <div class="info">
          
                        <div>                 
                            <br><label for='full name' >Full Name</label><br> 
                            <input type="text" required  [(ngModel)]="FullName" name="full name">
                        </div>

                        <div>                 
                                <label for='nic'>NIC Number</label><br>
                                <input type="text" required name="nic" [(ngModel)]="NIC"> 
                            </div>

                            <div> 
                                    <label for='contact-no'>Contact No</label><br>
                                    <input type="text" required name="contact-no" [(ngModel)]="ContactNo"> 
                                </div>  
                                
                                    <div> 
                                            <label for='Email'>Email Address</label><br>
                                            <input type="text" [ngModel]="EmailAddress" required name="Email"> 
                                        </div>   

                                        <div> 
                                                <label for='numberplate'>Number Plate</label><br>
                                                <input type="text" required [(ngModel)]="NumberPlate" name="numberplate"> 
                                            </div> 

                                <div>
                                        <label for='date'>Pick Up Date</label><br>
                                        <input type="date"  [(ngModel)]="pickUpDate" required name="date">
                                </div>

                                <div>
                                        <label for='date'>Drop Date</label><br>
                                        <input type="date"  [(ngModel)]="dropDate" required name="date">
                                </div>

                                <div>                    
                                        <label for='car-make'>Car Make</label><br>  
                                        <select name="car-make" [(ngModel)]="CarMake">
                                            <option value=" "> </option> 
                                            <option *ngFor="let car of allTheCars">{{car.vehicleMake}}</option>                                 
                                        </select>    
                                
                                </div>

                                <div>                    
                                        <label for='car-model'>Car Model</label><br>  
                                        <select name="car-model" [(ngModel)]="CarModel">
                                            <option value=" "> </option> 
                                            <option *ngFor="let car of allTheCars">{{car.vehicleModel}}</option>                                    
                                        </select>    
                                
                                </div>

                                    <button type="button"  name="addDevice" (click)="onsubmit()" >Submit</button>
                                    <button type="reset"  href="/">Clear Form</button>

                                </div>